[submodule "nav"]
	path = nav
	url = https://github.com/BNLIF/wire-cell-nav.git
[submodule "data"]
	path = data
	url = https://github.com/BNLIF/wire-cell-data.git
[submodule "waf-tools"]
	path = waf-tools
	url = https://github.com/BNLIF/waf-tools.git
[submodule "sst"]
	path = sst
	url = https://github.com/BNLIF/wire-cell-sst.git
[submodule "tiling"]
	path = tiling
	url = https://github.com/BNLIF/wire-cell-tiling.git
[submodule "examples"]
	path = examples
	url = https://github.com/BNLIF/wire-cell-examples.git
[submodule "matrix"]
	path = matrix
	url = https://github.com/BNLIF/wire-cell-matrix.git
[submodule "2dtoy"]
	path = 2dtoy
	url = https://github.com/BNLIF/wire-cell-2dtoy.git
[submodule "rootvis"]
	path = rootvis
	url = https://github.com/BNLIF/wire-cell-rootvis.git
[submodule "graph"]
	path = graph
	url = https://github.com/BNLIF/wire-cell-graph.git
[submodule "lsp"]
	path = lsp
	url = https://github.com/BNLIF/wire-cell-lsp.git
[submodule "signal"]
	path = signal
	url = https://github.com/BNLIF/wire-cell-signal.git
[submodule "ress"]
	path = ress
	url = https://github.com/BNLIF/wire-cell-ress.git
[submodule "quickhull"]
	path = quickhull
	url = https://github.com/BNLIF/wire-cell-quickhull.git
[submodule "nanoflann"]
	path = nanoflann
	url = https://github.com/BNLIF/wire-cell-nanoflann.git
